.footer-area .footer-top .single-footer-caption .footer-logo {
    margin-bottom: 30px;
  }
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    line-height: 1.8;
    margin-bottom: 30px;
    padding-right: 0;
    color: #c4c4c4;
    font-size: 14px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      padding-right: 0px;
    }
  }
  .footer-area .footer-top .single-footer-caption .footer-tittle h4 {
    color: #fff;
    font-family: "Teko", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer-area .footer-top .single-footer-caption .footer-tittle ul li {
    color: #c4c4c4;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  .footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
    color: #c4c4c4;
    font-weight: 300;
    font-size: 16px;
  }
  .footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
    color: #fff;
    padding-left: 5px;
  }
  .footer-area .footer-bottom {
    border-top: 1px solid #1f2024;
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .footer-area .footer-bottom .footer-copy-right p {
    color: #c4c4c4;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px;
  }
  .footer-area .footer-bottom .footer-copy-right p i {
    color: #f04e3c;
  }
  .footer-area .footer-bottom .footer-copy-right p a {
    color: #f04e3c;
  }
  .footer-area .footer-bottom .footer-copy-right p a:hover {
    color: #fff;
  }
  .footer-area .footer-social a {
    color: #c4c4c4;
    font-size: 18px;
    text-align: center;
    margin-left: 24px;
  }
  .footer-area .footer-social a:first-child {
    margin-left: 0px;
  }
  .footer-area .footer-social a:hover {
    color: #fff;
  }
  .footer-area .footer-social a i {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    transform: rotateY(0deg);
  }
  .footer-area .footer-social a:hover {
    color: #fff;
  }
  .footer-area .footer-social a:hover i {
    transform: rotateY(180deg);
  }

  .footer-logo a img {
    height: 50px; /* need to define height and width explicitly (to my understanding) */
	width: 200px;

	object-fit: cover; 
	object-position: center;
  }

  .footer-area{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/gallery/section_bg03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.1); */
  }